<html lang="en"><head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">

	<link rel="shortcut icon" href="gt_favicon.png">

	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">

	<link rel="stylesheet" href="{{ url_for('static', filename='magister.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='scrambler.css') }}">

	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Wire+One" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='modernizr.custom.72241.js') }}"></script>

    <script src="{{ url_for('static', filename='magister.js') }}"></script>
    <script src="{{ url_for('static', filename='scrambler.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js"></script>

    <script src="{{ url_for('static', filename='magister.js') }}"></script>
</head>

<body class="theme-invert" style="">
<script>
</script>

<section class="section" id="head">
	<div class="container">

		<div class="row">
			<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">	

                <p id="messenger"> Hello,
                </p>

                <script>
                  var messenger = new Messenger($('#messenger'), "Lucas");
                </script>
                <br>
                <br>
                <script>
                    var socket = io.connect('http://' + document.domain + ':' + location.port);
                    socket.on('echo', function(data){
                        $('#response').html('<p>'+data.echo+'</p>');
                    });

                    function send(){
                        socket.emit('send_message', {message : $('form textarea').val()});
                    }
                  </script>

				<h3 class="tagline">
					Ermagerd Cornell Kup is soooo kool.
				</h3>

                <div class="input">
                    <form>
                        <textarea placeholder="Send a message to the server..."></textarea>
                        <button type="button" onclick="send(); return false;">Send</button>
                    </form>
                </div>
                <div id="response">
                </div>
	
			</div> <!-- /col -->
		</div> <!-- /row -->
	
	</div>
</section>

</body>
</html>
<!-- Load js libs only when the page is loaded. -->
</body></html>
